/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
$imagePath: '../images/';

body{
	margin:auto;
	padding:0px;
	text-align:center;
	
}

#game-area{
	margin:auto;
	position:relative;
	border:25px solid black;
	@include border-radius(40px, 40px);
	width:1024px;
	height:672px;
	background-color:white;	
	background-image:url(#{$imagePath}back.jpg);
}

#cnvGame{
	margin-bottom: -3px;
	
}

#game-chat{
	position:absolute;
	margin:auto;
	height:100px;
	bottom:0px;
	background-color:black;
	width:1024px;
	@include opacity(.7);
	text-align:left;
	color:white;
	border-top:3px solid black;
}

#login{
	width:300px;
	height:150px;
	background-color:white;
	position:absolute;
	left:362px;
	top:300px;
	border:2px solid black;
	@include border-radius(5px, 5px);	
}

.title{
	font-weight:bold;
	padding:10px;
	position:relative;
}

.inner{
	position:relative;
	padding:10px;

	p{
		text-align: right;
		margin:10px;
	}
}
